:local(.PlayerCountersList) {
	width: 97px;
	height: 324px;
	border: 1px solid black;
	display: inline-block;
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
}

:local(.PlayerCountersList::-webkit-scrollbar) {
	width: 2px;
	position: absolute;
	background: transparent;
	display: none;
}

:local(.PlayerCountersList::-webkit-scrollbar-track) {
	background: black;
}
:local(.PlayerCountersList::-webkit-scrollbar-thumb) {
	background: white;
	border-radius: 50px;
}
:local(.PlayerCountersList::-webkit-scrollbar-thumb:hover) {
	background: #000000AA;
}

:local(.counter) {
	width: 95px;
	background-color: white;
	height: 40px;
	color: black;
	line-height: 39px;
	text-align: left;
}

:local(.text) {
	margin-left: 5px;
	display: inline-block;
	font-size: 15px;
	width: 50px;
	font-style: italic;
}

:local(.addText) {
	font-weight: bolder;
	color: limegreen;
	text-align: center;
	width: 95px;
	font-size: 30px;
}

:local(.counterCount) {
	font-size: 15px;
	width: 30px;
	text-align: right;
	font-weight: bold;
	margin-right: 10px;
	display: inline-block;
}

:local(.hoverStyle) {
	height: 40px;
	background-color: transparent;
}

:local(.hoverAddStyle) {
	height: 40px;
	background-color: transparent;
}

:local(.hoverStyle:hover) {
	background-color: #FFFFFF88;
}

:local(.hoverAddStyle:hover) {
	height: 40px;
	background-color: #00000011;
}
