:local(.PlayerCountersList) {
	width: 97px;
	height: 324px;
	border: 1px solid black;
	background-color: white;
	display: inline-block;
	position: absolute;
}

:local(.counter) {
	width: 95px;
	background-color: crimson;
	height: 40px;
	color: white;
	line-height: 39px;
	text-align: center;
}

:local(.hoverStyle) {
	height: 40px;
	background-color: transparent;
}

:local(.hoverStyle:hover) {
	background-color: #FFFFFF88;
}
