:local(.MainPageLayout) {
	background-color: royalblue;
	width: 100%;
	display: flex;
	float: left;
}

:local(.MenuBox) {
	width: 300px;
	display: flex;
	flex-flow: column;
}

:local(.HorizontalLayout) {
	display: flex;
  float: left;
	width: 100%;
}

:local(.CardField) {
	flex:1;
	flex-grow: 100;
}

:local(.backgroundColor) {
	background-color: black;
	background-color: #333;
	height: 100vh;
	display: flex;
}
