:local(.menuTools) {
	background-color: white;
	/* display: flex; */
	width: 300px;
	flex: 1;
	overflow-y: hidden;
}

:local(.tab) {
	background-color: white;
}

:local(.individualTab) {
	display: inline-block;
}

:local(.fontSize) {
	font-size: 14px;
	/* display: flex;
  flex-flow: column;
  flex: 1; */
}

:local(.fontSize) {
	padding: 0px;
	margin: 0px;
	/* flex: 1;
display: flex;
flex-flow: column; */
}

:local(.dimensions) {
	/* flex: 1;
display: flex;
flex-flow: column; */
}

:local(.tabPanelDiv) {
	margin-top: 6px;
	padding: 10px;
	background-color: lime;
	overflow-y: auto;
}

:local(.header) {
	text-align: center;
	display: block;
}

:local(.tab) {
	width: 75px;
	text-align: center;
	display: inline-block;
	background-color: white;
	height: 40px;
	line-height: 39px;
	transition: background-color 1s;
	/* border-top-right-radius: 5px;
	border-top-left-radius: 5px; */
}

:local(.tab:hover) {
	background-color: #333;
	color: white;
	cursor: pointer;
}

:local(.active) {
	border-bottom: 1px solid #333;
	font-weight: bolder;
}
:local(.content) {
	/* overflow-y: hidden; */
	overflow-x: hidden;
	max-height: calc(100vh - 440px);
}

:local(.content::-webkit-scrollbar) {
	width: 2px;
	position: absolute;
	background: transparent;
	display: none;
}

:local(.content::-webkit-scrollbar-track) {
	background: black;
}
:local(.content::-webkit-scrollbar-thumb) {
	background: white;
	border-radius: 50px;
}
:local(.content::-webkit-scrollbar-thumb:hover) {
	background: #000000AA;
}
