:local(.menuTools) {
	background-color: white;
	display: block;
	width: 300px;
	flex: 1;
	/* height: 500px; */
	overflow-x: hidden;
}

:local(.tab) {
	background-color: white;
}

:local(.individualTab) {
	display: inline-block;
}

:local(.fontSize) {
	font-size: 14px;
}

:local(.fontSize) {
	padding: 0px;
	margin: 0px;
}

:local(.tabPanelDiv) {
	padding: 10px;
}
