:local(.tabLayout) {
  width: 300px;
  /* height: 1920px; */
  /* background-color: gold; */
}

:local(.cardShape) {
  /* width: 100px; */
  /* height: 140px; */
  background-color: blue;
  display: inline-block;
}

:local(.chatInput) {
  width: 300px;
  height: 30px;
  text-align: left;
  border: none;
  border-bottom: 1px solid #EEE;
}

:local(.chatInput:focus) {
  outline: none;
  border-bottom: 1px solid #CCC;
}

:local(.chatLog) {
  background-color: white;
  /* text-align: justify; */
}

:local(.chatLogUsername) {
  font-weight: bold;
  font-size: 15px;
}

:local(.chatLogMessage) {
  font-size: 14px;
}

:local(.chatTimestamp) {
  color: crimson;
  font-weight: lighter;
  font-size: 11px;
}

:local(.timer) {
  /* margin-top: 20px; */
  background-color: #333;
  display: block;
  color: white;
  font-weight: bolder;
  height: 58px;
  line-height: 59px;
  text-align: center;
}

:local(.PlayerName) {
  padding-left: 13px;
  display: inline-block;
  text-align: left;
  width: 150px;
}

:local(.PlayerStats) {
  text-align: right;
  display: inline-block;
  width: 150px;
  padding-right: 13px;
}

:local(.SurrenderButton) {
  width: 300px;
  text-align: center;
  height: 50px;
  line-height: 47px;
}
:local(.SurrenderButton button) {
  width: 275px;
}
