:local(.cardField) {
	background-color: plum;
	display: inline-block;
	width: 100%;
	min-width: 1000px;
}

:local(.dimensions) {
	width: 100%;
	max-height: 900px;
	overflow-y: auto;
}

:local(.borderBottom) {
	border-bottom: 1px solid #333;
}

:local(.borderTop) {
	border-top: 1px solid #333;
}
