:local(.card) {
  /* position: absolute; */
	/* margin: 4px 13px; */
	height: 100px;
	width: 71px;
	/* border: 2px solid black; */
	/* border-radius: 5px; */
	/* user-select: none; */
	pointer-events: none;
}

:local(.cardActive) {
	border: 2px solid lime;
}
