:local(.card) {
  /* position: absolute; */
	/* margin: 4px 13px; */
	height: 100px;
	width: 71px;
	/* border: 2px solid black; */
	/* border-radius: 5px; */
	/* user-select: none; */
	pointer-events: none;
	height: 100px;
  position: relative;
  background-color: red;
  width: 71px;
  display: inline-block;
  background: url("https://magiccards.info/scans/en/nph/9.jpg");
	background-color: gold;
  background-position: -40px -22px;
  background-size: 150px 220px;
}

:local(.cardActive) {
	border: 2px solid lime;
}

:local(.fieldCardPositionning) {
	display: inline-block !important;
	position: absolute;
	height: 104px;
}

:local(.backCard) {
	position: absolute;
	height: 100px;
	width: 71px;
	background-color: #830;
	border: 2px solid white;
	border-radius: 4px;
}

:local(.backCircle) {
	position: absolute;
  height: 90px;
  width: 61px;
  margin-left: 3px;
  margin-top: 3px;
  background-color: #D80;
  border: 1px solid royalblue;
  border-radius: 50%;
}

:local(.tapped) {
	transform: rotate(90deg);
}
