:local(.PlayerInfo) {
  height: 449px;
  background-color: CornflowerBlue;
  width: 200px;
  display: inline-block;
  position: relative;
}

:local(.QuicktoolsArea) {
	width: 194px;
	border: 0px;
	margin: 3px;
	height: 324px;
	display: block;
	background: teal;
}
