:local(.PlayerBox) {
  /* height: 50vh; */
  height: 449px;
  background-color: steelblue;
  /* width: 100%; */
	display: flex;
  min-width: 1000px;
  position: relative;
}

:local(.text) {
  display: inline-block;
  position: absolute;
  top: 0px;
  height: 449px;
  background-color: red;
  margin-bottom: 0px;
}
