:local(.PlayerPicture) {
  height: 119px;
  position: relative;
  background-color: red;
  width: 200px;
  display: inline-block;
  background: linear-gradient(to bottom, transparent, transparent, black, black, black), url("https://magiccards.info/scans/en/nph/9.jpg");
	background-color: gold;
  background-position: -14px -50px;
  background-size: 230px 300px;
}

:local(.PlayerName) {
  color: white;
  font-weight: 600;
	margin-top: 94px;
	margin-left: 3px;
}
