:local(.PlayerPicture) {
  height: 119px;
  position: relative;
  background-color: red;
  width: 200px;
  display: inline-block;
  background-image: linear-gradient(to bottom, transparent, transparent, transparent, #000000, black, black, black);
	background-color: gold;
  background-position: -22px -50px;
  background-size: 250px 320px;
}

:local(.PlayerName) {
  color: white;
  font-weight: 600;
	margin-top: 94px;
	margin-left: 3px;
}
