:local(.DeckPile) {
	width: 97px;
	height: 108px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
}

:local(.DeckPile:hover) {
	background-color: #FFFFFF22
}

:local(.deckCard) {
	position: absolute;
	margin: 4px 8px;
	height: 100px;
	width: 81px;
}
