:local(.DeckPile) {
	width: 97px;
	background-color: royalblue;
	height: 108px;
	margin: 0;
	padding: 0;
	border: 0;
}

:local(.deckCard) {
	position: absolute;
	margin: 4px 8px;
	height: 100px;
	width: 81px;
	background-color: black;
	background: white url("https://magiccards.info/scans/en/nph/9.jpg");
	background-size: cover;
	background-position: center;
}
