:local(.ExilePile) {
	width: 97px;
	height: 108px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
}

:local(.ExilePile:hover) {
	background-color: #FFFFFF22
}

:local(.exileCard) {
	position: absolute;
	margin: 4px 13px;
	height: 100px;
	width: 71px;
}

:local(.cardCount) {
	position: absolute;
	color: white;
	background-color: royalblue;
	font-weight: 600;
	font-size: 13px;
	margin-top: 85px;
	right: 16px;
	width: 71px;
	opacity: .8;
	text-align: center;
	animation-name: exileGlow;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

@keyframes exileGlow {
    from {background-color: royalblue;}
    to {background-color: navy;}
}

:local(.emptyPile) {
	position: absolute;
	margin: 4px 13px;
	height: 100px;
	width: 71px;
	border: 1px solid #333;
	/* border-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'><defs><linearGradient id='redgradient'><stop offset='0' stop-color='%23FFC14D'/><stop offset='0.362' stop-color='%23FF4834'/><stop offset='1' stop-color='%233B0300'/></linearGradient></defs><g id='Layer_1'><path d='M0,0 L50,0 L50,50 L0,50 L0,0 z' fill='url(%23redgradient)' width='100%' height='100%'/></g></svg>") 10% stretch; */
}
